* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body {
    color: aliceblue;
 }
nav .logo {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.title {
    margin-left: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.753);
    color: aliceblue;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 4;
    width: 100%;
}
.logo img{
    border-radius: 50px;
    object-fit: cover;
    filter: brightness(80%);
    margin-left: 13px;
}
.lien a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 15px;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: rgb(17, 13, 13);
    position: relative;
    z-index: 2;
    height: auto;
}
header img{
    width: 50%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
}
header h1{
    position: absolute;
    right: 150px;
    top: 150px;
    font-size: 75px;
    font-family:'Courier New', Courier, monospace;
}
header button{
    position: absolute;
    right: 300px;
    top: 350px;
    font-size: 25px;
    background: none;
    color: inherit;
    border: 2px solid wheat;
    padding: 10px 18px;
    border-radius: 10px;
}